/* !!!把所有p标签下外边距清零 */
p {
	margin-bottom: 0;
}
/* 去除container-fluid的内边距 */
.container-fluid {
  padding: 0;  
}

.my_logo {
	padding-top: 2.625rem;
	padding-bottom: 2rem;
}

/* 字题一点白 */
.little_white {
	color: #f2f2f2;
}

/* 折叠导航的连接颜色重写 */
.navbar-dark .navbar-nav .nav-link {
  color: #f2f2f2;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #f2f2f2;
}

/* 大字号连接 */
.big_a {
	font-size: 1.125rem;
}
/* 小字号连接 */
.small_a {
	font-size: 0.875rem;
}

/* 导航栏登入 */
.my_login1 {
  position: absolute;
	top: 0px;
  right: 0;
  height: 56px;
  padding: 0 20px 0 50px;
  background-color: #e31937;
  font-size: 18px;
  color: #fff;
  line-height: 56px;
  min-width: 250px;
}
/* 登录在lg以上尺寸调整大一点 */  
@media (min-width: 992px) {
  .my_login1 {
    height: 59px; 
		line-height: 59px;
  }
}
.my_login1:hover {
  color: #fff;
  text-decoration: none;  
}
/* 登录图片 */
.my_login1:after {
    content: "";
    position: absolute;
    left: 13px;
    top: 18px;
    background: url(../img/icons.png) no-repeat;
    background-position: -77px -129px;
    width: 23px;
    height: 23px;
}
/* 在xl以下, 右侧登录在container-fluid中,  在xl以上. 位于cantainer内 */
/* 首先去除navbar的位置信息 */
.navbar {
  position: static;
}
@media (min-width: 576px) {
  .container-fluid.my_nav {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .container.my_nav {
    position: relative;
  }
}

/*--------------------------- 轮播图-----------------------------*/
.carousel-indicators li {
  width: .8rem;
  height: .8rem;
  background-color: #fff;
  margin:0 .25rem;  
}
.carousel-indicators .active {
  background-color: #e31937;  
}
.carousel-indicators {
  margin-right: 0;
  margin-left: 0;
}
/* 重写左右箭头的样式 */
/* 箭头位置所在div */
.carousel-control-prev,
.carousel-control-next {
  width: 4%;
  height: 20%;
  top: 40%;
  border-radius:.25rem;
  background-color: transparent;
}
/* 箭头位置 */
.carousel-control-prev {
  left: 10%;
}
.carousel-control-next {
  right: 10%;
}
/* 箭头的透明度不改变 */
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}
.carousel-control-prev:hover, 
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  opacity: 1;
}
/* 箭头点击的动画 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
   transition: .5s;
}
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-prev:focus .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon,
.carousel-control-next:focus .carousel-control-next-icon {
  transform: scale(2);
}

/* --------------------------导航栏---------------------------- */
.my_baner a + .my_baner a {
		outline: #000000;
}
.container .my_baner .a1 + .container .my_baner .a1 {
		outline: #000000;
}
@media (min-width: 576px) {
	.my_baner {
		display: flex;
		flex-direction: column;
	}
	.my_baner a {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row; 
		color: #8b8d8e;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		padding: 20px;
		margin: 5px;
	}
	.my_baner a:hover {
		color: #000000;
		background-color: ;
	}
	/* 导航栏定位没有脱离文档流, cantainer-fluid sm不设置固定高度, 设定背景色 */
	.container-fluid.grey_bg {
		/* sm背景色不同 */
		background-color: #e3e3e3;
	}	
}
@media (min-width: 768px) {
	.my_baner {
		flex-direction: row;
		justify-content: space-between;
		position: absolute;
		top: -20px;
	}
	.my_baner a {
		width: 138px;
		height: 117px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	.my_baner a + a {
		border-left :1px solid dimgrey;
	}
	/* 导航栏定位脱离文档流, cantainer-fluid设置固定高度, 设定背景色 */
	.container-fluid.grey_bg {
		height: 140px;  
		background-color: #f6f6f6;
	}
}
@media (min-width: 992px) {
	.my_baner {
		flex-direction: row;
	}
	.my_baner a {
		width: 186px;
		height: 70px;
		display: flex;
		flex-direction:row;
	}
	.container-fluid.grey_bg {
		height: 90px;  
	}
}
@media (min-width: 1200px) {
	.my_baner a {
		width: 228px;
		height: 80px;
	}
	.container-fluid.grey_bg {
		height: 100px;  
	}
}
/*--------------------------- 内容区------------------------ */
.container-fluid.grey_bg2 {
		/* sm背景色不同 */
		background-color: #f6f6f6;
}
@media (min-width: 576px) {
	h3 {
		font-size: 21px;
		padding-top: 10px;
		margin-bottom: 5px;
		background: url(../img/icons.png) no-repeat;
		background-position: 0 -488px;
	}
	a {
		font-size: 14px;
		text-decoration: none;
	}
	a:link {
		text-decoration: none;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	a:active {
		text-decoration: none;
	}
	.zhichi ul li div {
		background: url(../img/download_icons.png) no-repeat 0 -33px;
		width: 18px;
		height: 24px;	
	}
	.yangping a {
		height: 262px;
		font-size: 30px;
		color: #8d8b8e;
	}
	.my_more {
		display: block;
		padding-left: 20px;
		background: url(../img/icons.png) no-repeat;
		background-position: -88px -253px;
	} 
}
@media (min-width: 768px) {
	h3 {
		padding-top: 20px;
		margin-bottom: 10px;
		font-size: 28px
	}
	a {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	h3 {
		font-size: 24px;
		padding-top: 14px;
		margin-bottom: 0;
	}
	a {
		font-size: 16px;
	}
	.zhichi {
		height: 224px;
	}
	.yangping a {
		height: 224px;
		font-size: 26px;
	}  
	#demo2 .carousel-inner {
		height: 224px;
	}
}

@media (min-width: 1200px) {
	
}
